@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
}
body {
  font-weight: 500;
  font-family: 'Gothic A1', sans-serif;
  color: #fff;
  background-color: #1B262C;
}
